<div class="stats__container" *ngIf="steamId != 0">
  <!-- <div class="stats__win-rate">
    <p>W: 79 L: 99</p>
  </div> -->

  <div class="stats__matches">
    <table>
      <span></span>
      <tr>
        <th>Hero</th>
        <th>KDA</th>
        <th>Win</th>

      </tr>
      <div>

      </div>
      <tr *ngFor=" let i = index; let item of matchesData" >
        <td > {{matchesData[i].hero_id | heroIdToHeroName}}</td>
        <td>{{matchesData[i].kills}}/{{matchesData[i].deaths}}/{{matchesData[i].assists}}</td>
        <td>{{matchesData[i].win | matchResult}}</td>

        <td></td>
      </tr>
    </table>
  </div>
</div>