<div class="stats__container">
  <!-- <div class="stats__win-rate">
    <p>W: 79 L: 99</p>
  </div> -->

  <div class="stats__matches">
    <table>
      <span></span>
      <tr>
        <th>Hero</th>
        <th>KDA</th>
        <th>Win</th>
        <th>Date</th>
        <th>Faction</th>
      </tr>
      <div>

      </div>
      <tr *ngFor=" let i = index; let item of MatchesData" >
        <td > {{MatchesData[i].hero_id | heroIdToHeroName}}</td>
        <td>{{MatchesData[i].kills}}/{{MatchesData[i].deaths}}/{{MatchesData[i].assists}}</td>
        <!-- <td>{{matchResult(MatchesData[i].match_id)}}</td> -->
        <td>10/10/2022</td>
        <td>dire</td>
        <td>{{i}}</td>
      </tr>
    </table>
  </div>
</div>

