<div class="container__welcome-card">
  <div class="welcome-card__title">
    <h1>Welcome!</h1>
  </div>
  <div class="welcome-card__content">
    <p>
      Learn more about your Dota 2 stats!
    </p>
  </div>
  <div class="welcome-card__search-bar">
    <input type="text" placeholder="type your account id" [(ngModel)]="accountId" name="accountId">
  </div>
  <p>{{ accountId }}</p>
  <div class="welcome-card__search-button">
    <button (click)="searchId(accountId);clearSearch()">Search</button>
  </div>
  <div class="welcome-card__divider">
    <hr>
  </div>
</div>
